@import './colors';

.bodyBtn{
    margin-top: 1rem;
    border: 4px solid $lightBlue;
    padding: 10px;
    border-radius: 10px;
    background-color: $lightBlue;
    color: $lightDarkBlue;
    transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s;
    float: left;
    z-index: 1;
    position:absolute;
}

.fastrelica{
    padding-right: 2px;
}

.bodyBtn:hover{
    background-color: white;
    // transform: scale(1.1);
    
    // box-shadow: 0px 0px 40px -11px rgba(0,0,0,0.86);
    // -webkit-box-shadow: 0px 0px 40px -11px rgba(0,0,0,0.86);
    // -moz-box-shadow: 0px 0px 40px -11px rgba(0,0,0,0.86);
}