@import './colors';

.statistikaNaslov{
    font-weight: bold;
}

.radnidani{
    font-size: 1.2rem;
    display: inline-block;
    margin: 20px 20px 20px 0;
}

.brojRadnihDana{
    font-weight: bold;

    display: inline;
}

.statistikaTabelaLabel{
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid $grey;
}

th, td {
text-align: left;
padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}