@import './colors';

body{
    margin: 0;
    background-color: #ffffff;//$grey;
}

.bodyKalendar{
    display: flex;
    flex-wrap: wrap;
    margin: 0 30rem 0 30rem;
}

.bodyTermini{
    display: flex;
    flex-wrap: wrap;
    margin: 0 23rem 0 23rem;
    // align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}

.kartice{
    display: flex;
    justify-content: space-around;
}

.naslov{
    margin: 0;
    text-align: center;
    padding: 0.3rem 2rem 0.3rem 2rem;
    font-size: 1rem;
    color: $lightDarkBlue;
    justify-self: center;
}

.crta{
    margin: 0;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 4px;
    background-color: $lightBlue;
    border: 0;
}